@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.hero-pattern {
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 30px 30px;
}